.container {
    display: flex;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}
.one{
    background-color: red;
    width: 200px;
    height: 420px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    transition: transform 1s;
}
.one h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
}
.one p {
    text-align: center;
    font-size: 16px;
    color: white;
}
.two{
    background-color: green;
    width: 200px;
    height: 420px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}
.two h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
}
.two p {
    text-align: center;
    font-size: 16px;
    color: white;
}
.three{
    background-color: blue;
    width: 200px;
    height: 420px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}
.three h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
}
.three p {
    text-align: center;
    font-size: 16px;
    color: white;
}
.four{
    background-color: black;
    width: 200px;
    height: 420px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}
.four h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
}
.four p {
    text-align: center;
    font-size: 16px;
    color: white;
}
.one:hover,
.two:hover,
.three:hover,
.four:hover {
    transform: scale(0.95);
}