<<<<<<< HEAD
*{
    margin: 0px;
}

body{
    display:flex;
    flex-direction:column;
    align-items: center;
}


.reviews{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    background-color: #34aeeb;
    border-radius: 70px;
    padding: 10px;
    width: 1000px;
    height:300px;
}

.reviews:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.reviewstxt{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    text-align:center;
    font-size:40px;
}
.mainreview{
    display:flex;
    justify-content:space-evenly;
    width: 950px;
    height:200px;
    margin: 20px;
}

.userreview{
    display:flex;
    padding:10px;
    width:270px;
    height: 50px;
    gap:5px;
    background-color: white;
    border-radius: 10px;
}

.userreview:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #2e2e2e;
}
.userprofile{
    width: 30px;
    height:30px;
    border-radius: 50%;
}

.username{
    width:270px;
}

.name{
    font-weight: bold;
}

.reviewname{
    font-style: italic;
}