
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  Playfair Display;

}
body{
    display:flex;
    flex-direction:column;
    align-items: center;

}


.container {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding: 5px;
    flex-direction: row;
}
h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
}
.one{
    background-color: red;
    width: 200px;
    height: 420px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
    transition: transform 1s;
}
.one h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
}
.one p {
    text-align: center;
    font-size: 16px;
    color: white;
}
.two{
    background-color: green;
    width: 200px;
    height: 420px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}
.two h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
}
.two p {
    text-align: center;
    font-size: 16px;
    color: white;
}
.three{
    background-color: blue;
    width: 200px;
    height: 420px;
    border: 1px solid black;
    padding: 20px;
    margin: 5px;
    border-radius: 20px;
}
.three h1 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 0px;
    color: white;
}
.three p {
    text-align: center;
    font-size: 16px;
    color: white;
}

body{
    display:flex;
    flex-direction:column;
    align-items: center;

}


.reviews{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    background-color: #34aeeb;
    border-radius: 70px;
    padding: 10px;
    width: 1000px;
    height:300px;
}

.reviews:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.reviewstxt{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    text-align:center;
    font-size:40px;
}
.mainreview{
    display:flex;
    justify-content:space-evenly;
    width: 950px;
    height:200px;
    margin: 20px;
}

.userreview{
    display:flex;
    padding:10px;
    width:270px;
    height: 50px;
    gap:5px;
    background-color: white;
    border-radius: 10px;
}

.userreview:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #2e2e2e;
}
.userprofile{
    width: 30px;
    height:30px;
    border-radius: 50%;
}

.username{
    width:270px;
}

.name{
    font-weight: bold;
 
}
 


.testimony-card:hover, .testimony-card2:hover, .testimony-card3:hover {
    transform: translateY(-8px) scale(1.03);
    box-shadow: 0 8px 16px rgba(49, 104, 83, 0.15);
    cursor: pointer;
}

.reviews{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:20px;
    background-color: #34aeeb;
    border-radius: 70px;
    padding: 10px;
    width: 1000px;
    height:300px;
}

.reviews:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.reviewstxt{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    color: black;
    text-align:center;
    font-size:40px;
}
.mainreview{
    display:flex;
    justify-content:space-evenly;
    width: 950px;
    height:200px;
    margin: 20px;
}

.userreview{
    display:flex;
    padding:10px;
    width:270px;
    height: 50px;
    gap:5px;
    background-color: white;
    border-radius: 10px;
}

.userreview:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px #2e2e2e;
}
.userprofile{
    width: 30px;
    height:30px;
    border-radius: 50%;
}

.username{
    width:270px;
}

.name{
    font-weight: bold;
 



.reviewname{
    font-style: italic;


}}